/*Tamanho padrão para tablets*/
@media only screen and (max-width: 768px){
	
	.header-black ul {
		display: none;
	}

}

/*Tamanho padrão para smartphones */
@media only screen and (max-width: 480px){
	
	.header-black ul , #menu {
		display: none;
	}
	#logotipo {
		left: 30%;
	}
	#btn-bars, #btn-search {
		color: #fff;
		font-size: 22px;
		position: absolute;
		top: 4px;
		background: none;
		border: none;
		display: block; /*faz com que as barras sejam desbloqueadas para serem exibidas*/
	}
	#btn-bars {
		left: 4px;
	}
	#btn-search {
		right: 4px;
	}
	#banner {
		height: 317px;
		background-size: cover;
		background-position: 0;
		text-align: center;
	}
	#banner h1 {
		top: 180px;
		font-size: 44px;
		margin-left: 0;
	}
	#banner h1 small {
		font-size: 22px;
	}

}